<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="col-sm-4">
      <% if(username) { %>

        <h1>Welcome <%=first%>!</h1>
        <div>
          <form name="input" action="logout" method="post">
            <input type="submit" value="Logout">
          </form>
        </div>
        <hr>
        <div>
          <form name="input" action="tweet" method="post">
            <b>Write a tweet</b> <br>
            <textarea rows="4" style="width:100%" type="text" name="tweet"></textarea>
            <input type="submit" value="Submit">
          </form>
        </div>

      <% } else { %>

          <div><a href="/users/new_user">New User</a></div>
          <div><a href="/users/login"> Login </a></div>

      <% } %>
    </div>

    <div class="col-sm-8">
      <div id="tweet_container">
        <h1 id="title"><%= title %></h1>

        <% for(var i=tweets.length-1; i>=0; i--){ %>
          <div class="tweet">
        <%= tweets[i].author_first %> <%= tweets[i].author_last %> @<%= tweets[i].author_username %>: <%= tweets[i].tweet %>
            
            <% if (tweets[i].author == user_id) { %>
              <form name="input" action="edit" method="post">
                <input type="submit" value="Edit">
                <input type="hidden" name="tweet_id" value=<%= tweets[i]._id%>>
              </form>
              <form name="input" action="delete" method="post">
                <input type="submit" value="Delete">
                <input type="hidden" name="tweet_id" value=<%= tweets[i]._id%>>
              </form>
            <% } %>

          </div>
        <%}%>

      </div>
    </div>

  </body>
</html>
